<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
	    <link rel="stylesheet" type="text/css" href="../css/basic.css">
	</head>
	<body>
		<h2>Login</h2>
    	<form method="post">
	      	<table>
		        <tr>
		          <td class="label">
		            Username
		          </td>

		          <td class="error">
		            <input type="text" name="username" value="{{ username }}" placeholder="username"> {{ usernameerror }}
		          </td >
		        </tr>

		        <tr>
		          <td class="label">
		            Password
		          </td>

		          <td class="error">
		            <input type="password" name="password" value="{{ password }}" placeholder="password"> {{ passworderror }}
		          </td>
		        </tr>
	        </table>
	        <table>	
	        	<tr>
	        		<td class="label">
	      				<input type="submit">
	      			</td>
	      		</tr>
	      	</table>
	    </form>
	</body>
</html>