<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../css/basic.css">
  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td class="error">
            <input type="text" name="username" value="{{ username }}" placeholder="username"> {{ usernameerror }}
          </td >
          <td >
            
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td class="error">
            <input type="password" name="password" value="{{ password }}" placeholder="password"> {{ passworderror }}
          </td>
          <td >
            
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td class="error">
            <input type="password" name="verify" value="{{ verify }}" placeholder="same password again"> {{ verifyerror }}
          </td>
          <td >
            
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td class="error">
            <input type="text" name="email" value="{{ email }}" placeholder="you@email.com"> {{ emailerror }}
          </td>
          <td >
            
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>
  </body>

</html>
